body {
  background: url("../assets/fondo1.jpg") repeat center fixed;
  background-size: cover;
}

.cards {
  display: inline-flex;
  width: 200px;
  margin-top: 3rem;
  z-index: -1;
}

.option {
  position: absolute;
  /* left: 0.5rem; */
  /* margin-bottom: 0.5rem;
  margin-top: 0.5rem; */
  /* bottom: 1rem; */
  background-color: rgba(223, 220, 57, 0.6);
  width: 22%;
  height: 50vh;
  background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerAll {
  height: 600px;
  top: 145px;
  left: 20%;
  /* overflow: scroll; */
  position: absolute;
  display: inline-flex;
  margin-top: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  z-index: 12;
}

.filter {
  display: inline-block;
  position: static;
  left: 0;
}

.order {
  height: 80px;
  width: 150px;
}

/* .link {
  width: 150px;
} */

.source {
  height: 80px;
  width: 150px;
}

/* .resetDefault {
  width: 150px;
} */

.diets {
  height: 300px;
  width: 150px;
}

.pagBody {
  /* width: 900px; */
}

.pagination {
  bottom: 2rem;
  left: 850px;
  margin-bottom: 2rem;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #49e00978;
  background-image: none;
  flex: 1;
  padding: 0 0.5em;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
  background-image: linear-gradient(to right, #49e00978 0%, #e0cfc6f6 100%);
}
select::-ms-expand {
  display: none;
}
.select {
  position: relative;
  display: flex;
  margin-top: 0.5rem;
  width: 15em;
  height: 3em;
  line-height: 3;
  background: #49e00978;
  overflow: hidden;
  border-radius: 0.25em;
}
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #49e00978;
  cursor: pointer;
  pointer-events: none;
  transition: 0.25s all ease;
}
.select:hover::after {
  color: #9fe916;
}

.btnNeon {
  position: relative;
  /* display: flex; */
  flex-direction: column;
  padding: 15px 30px;
  color: #fff;
  letter-spacing: 4px;
  font-size: 16px;
  overflow: hidden;
  transition: 0.2s;
  margin-top: 0.5rem;
  width: 15em;
  background-color: #5439eb;
  background-image: linear-gradient(60deg, #96deda 0%, #50c9c3 100%);
  align-items: center;
  justify-content: center;
  margin-left: 0;
  /* z-index: 10; */
  text-decoration: none;
}
.btnNeon:hover {
  background: #09cee0;
  box-shadow: 0 0 10px linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
}
.btnNeon span {
  position: absolute;
  display: block;
}
#span1 {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #43f1e8);
}
.btnNeon:hover #span1 {
  left: 100%;
}
#span3 {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #43f1e8);
}
.btnNeon:hover #span3 {
  right: 100%;

  transition-delay: 0.5s;
}
#span2 {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #43f1e8);
}
.btnNeon:hover #span2 {
  top: 100%;

  transition-delay: 0.25s;
}
#span4 {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #43f1e8);
}
.btnNeon:hover #span4 {
  bottom: 100%;

  transition-delay: 0.75s;
}
