.navigation {
  width: 80%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(223, 220, 57, 0.6);
  border-radius: 20px;
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.4);
  z-index: 5;
  background-image: linear-gradient(-225deg, #fffeff 0%, #d7fffe 100%);
}

.contimg {
  display: inline-flex;
}
.btnNeon {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  color: #fff;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 16px;
  overflow: hidden;
  transition: 0.2s;
  margin-top: 0.5rem;
  width: 15em;
  background-color: #5439eb;
  background-image: linear-gradient(60deg, #96deda 0%, #50c9c3 100%);
}
.btnNeon:hover {
  background: #09cee0;
  box-shadow: 0 0 10px linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
}
